*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

} 

.benefits_of_city{
    background-image: url("static/images/1.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.benefits_of_city>ul>li{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}
.benefits_of_city>h2{
    font-size: 26px;
}
.benefits_of_city>div>h3{
    margin-top: 40px;
    font-size: 28px;
    font-style: italic;
}
